.button {
  font-family: $montserrat-regular;
  border: none;
  border-radius: 4px;
  background-color: $color-base-primary;
  color: $color-white-base;
  padding: 8px 20px;

  &--reset {
    background-color: $color-white-base;
    color: $color-base-primary;
  }
}
