.foter-nav {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 223px 222px 223px;
    gap: 30px;
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 317px 222px 318px;
  }
}

.foter-nav__list {
  list-style: none;
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid $color-secondary-base;

  @media (min-width: $tablet-width) {
    padding: 0;
    border-bottom: none;
  }
}

.foter-nav__item {
  margin-bottom: 12px;
}

.foter-nav__title {
  font-family: $montserrat-bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: $color-base-primary;
  text-decoration: none;
  margin: 0;
  margin-bottom: 12px;
}

.foter-nav__link {
  font-family: $montserrat-medium;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: $color-black-base;
  text-decoration: none;
  text-transform: uppercase;
}
