.main-header {
  font-family: $montserrat-medium;
  font-size: 12px;
  line-height: 16px;
}

.main-header__wrapper {
  width: 320px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 32px 208px auto;
  padding: 0 0 0 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 768px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    width: 1400px;
    padding: 0 40px;
  }
}

.main-header__logo {
  display: flex;
  align-items: center;
}

.main-header__logo-slogan {
  display: none;
  margin: 0;

  @media (min-width: $desktop-width) {
    display: block;
    margin-left: 20px;
    width: 128px;
  }
}
