.slide-control {
  position: relative;
}

.slide-control__button {
  position: absolute;
  border: none;
  background-color: transparent;
  padding: 0;
}

.slide-control__button::before {
  content: "";
  display: block;
  cursor: pointer;
  min-width: 12px;
  min-height: 12px;
  border-top: 2px solid #7859cf;
  border-right: 2px solid #7859cf;
  transform: rotate(225deg);
}

.slide-control__button--next::before {
  transform: rotate(45deg);
}
