.slide-control {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.slide-control__button {
  border: none;
  //background-color: transparent;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  cursor: pointer;
  background-color: red;
  width: 20px;
  padding: 0 5px;

  &--next {

  }
}

.slide-control__button::before {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
  width: 12px;
  height: 12px;
  border-top: 2px solid #7859cf;
  border-right: 2px solid #7859cf;
  transform: rotate(225deg);
  box-sizing: border-box;
}

.slide-control__button--next::before {
  transform: rotate(45deg);
}
