.sort {
  padding: 40px 0 20px;
}

.sort__values {
  font-family: $montserrat-semiBold;
  font-size: 16px;
  line-height: 24px;
  border: none;
  background-color: transparent;
  color: #7859cf;
}

.sort__title {
  font-family: $montserrat-semiBold;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}
